:root {
  --color-background-1: #161616;
  --color-main-1: #a7a395;
  --color-secondary-1: #626262;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-1);
  font-family: 'Space Mono', monospace;
  color: var(--color-main-1);
  letter-spacing: 0.06em
}